<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    
</style>
<body>
    <div id="root">
        <h1>exercise 6 - 12</h1>
        <!-- <h1 v-text="message"></h1> -->

        <!-- <h1>{{message.split('').reverse().join('')}}</h1> -->

        <!-- <h1>{{reversedMessage}}</h1> -->

        <h1>Completed tasks</h1>
        <ul>
            <!-- <li v-for="task in tasks" v-if="task.completed" v-text="task.description"></li> -->

            <li v-for="task in tasks" v-if="task.completed" v-text="task.description"></li>
        </ul>

        <h1>Incomplete tasks</h1>
        <ul>
            <!-- <li v-for="task in tasks" v-if="task.completed" v-text="task.description"></li> -->

            <li v-for="task in incompleteTasks" v-if="task.completed==false" v-text="task.description"></li>
        </ul>

       

    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="script.js"></script>
    <script>
        // we can now type in 'app' instead of $vm0
        var app = new Vue ({
            el: '#root',
            data:  {
                message: 'hello  world',
                tasks: [
                    {description: 'do this1 YES', completed: true},
                    {description: 'do this2 NO', completed: false},
                    {description: 'do this3 YES', completed: true},
                    {description: 'do this4 No', completed: false},
                ]
            },
            //Computed properties ?
            //why is this not in 'methods' ?
            computed: { //will cache. If we change, it will automatically update in the DOM
                reversedMessage: function(){
                    return this.message.split('').reverse().join('')
                },
                incompleteTasks: function(){ //ovo me je zbunilo
                    // return this.tasks.filter(task => !task.completed)

                    return this.tasks.filter(function(task){ // on nije ovako pokazao, ti si dodao 'return' u ovoj liniji
                        return ! task.completed;
                    })
                }
            }
        })
    </script>
</body>
</html>